<!DOCTYPE html>

<!--<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:black">-->
    <!--<div class="container-fluid">-->
        <!--<div class="navbar-header">-->
            <!--<a class="navbar-brand" href="#"><img src="logo.png" height="40"></a>-->
        <!--</div>-->
        <!--<ul class="nav navbar-nav navbar-right">-->
            <!--<li><a href="home.html"><font color="#ff8031">Home</font></a></li>-->
            <!--<li><a href="pets.html"><font color="#ff8031">Find your pet</font></a></li>-->
            <!--<li><a href="about.html"><font color="#ff8031">About</font></a></li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</nav>-->
<br /><br /><br />
<div class="container">

    <div class="jumbotron">
        <h2><b>Contact</b></h2>
        <p>If there is a scam or you have a problem with some of the content on this web please fell free to
            contact any of us. We will try to do our best to find out the problem and solve it.
            <br />
            Let's give our best to make this world a better place.

        </p>
    </div>


    <div class="jumbotron">
        <h2><b>Meet our team</b></h2>
        <br />

        <div class="row">
            <div class="col-sm-4" >

                <img src="adi.jpg" class="img-circle center-block" style="width:60%" alt="Image" /><br />
                <div class="caption text-center" style="background-color:#ff8031">
                    <br /><h4><b>Adi Mahmutovic</b></h4>
                    <p>A Math student who loves art. </p>
                    <h4><span class="glyphicon glyphicon-envelope"></span>   adi.mahmutovic.ets@gmail.com</h4><br />
                </div>
            </div>
            <div class="col-sm-4 caption" >

                <img src="eva.jpg" class="img-circle center-block" style="width:60%" alt="Image" /><br />
                <div class="caption text-center" style="background-color:#ff8031">
                    <br /><h4><b>Eva Shaltanovska</b></h4>
                    <p>An Electrical student who enjoys hanging out with friends.</p>
                    <h4><span class="glyphicon glyphicon-envelope"></span>   eva.shaltanovska@gmail.com</h4> <br />
                </div>
            </div>
            <div class="col-sm-4" >

                <img src="martin.jpg" class="img-circle center-block" style="width:60%" alt="Image" /><br />
                <div class="caption text-center" style="background-color:#ff8031"><br />
                    <h4><b>Martin Matak</b></h4>
                    <p>A Computer science student who loves having coffee with friends. </p>
                    <h4><span class="glyphicon glyphicon-envelope"></span>   martin.matak@gmail.com</h4> <br />
                </div>
            </div>
        </div>
        <br /><br />
        <div class="row" >
            <div class="col-sm-4">
                <img src="elena.jpg" class="img-circle center-block" style="width:60%" alt="Image" /> <br />
                <div class="caption text-center" style="background-color:#ff8031">
                    <br /><h4><b>Elena Ivanovska</b></h4>
                    <p>An Electrical student who adores to play with her dog and want to travel the world.</p>
                    <h4><span class="glyphicon glyphicon-envelope"></span>   elena_ivanovska.5@hotmail.com</h4><br />
                </div>
            </div>
            <div class="col-sm-4">
                <img src="ace.jpg" class="img-circle center-block" style="width:60%" alt="Image" /> <br />
                <div class="caption text-center" style="background-color:#ff8031">
                    <br /><h4><b>Aleksandar Malchev</b></h4>
                    <p>Aleksandar is a student at FINKI, Skopje</p>
                    <h4><span class="glyphicon glyphicon-envelope"></span>   malcevaleksandar@yahoo.com</h4> <br />
                </div>
            </div>

        </div>

    </div>

</div>