<!DOCTYPE html>

<!--<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:black">-->
    <!--<div class="container-fluid">-->
        <!--<div class="navbar-header">-->
            <!--<a class="navbar-brand" href="#"><img src="logo.png" height="40"></a>-->
        <!--</div>-->
        <!--<ul class="nav navbar-nav navbar-right">-->
            <!--<li><a href="home.html"><font color="#ff8031">Home</font></a></li>-->
            <!--<li><a href="pets.html"><font color="#ff8031">Find your pet</font></a></li>-->
            <!--<li><a href="about.html"><font color="#ff8031">About</font></a></li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</nav>-->
<br /><br /><br />
<div class="container">

    <div class="jumbotron">
        <h2><b>About Pet House</b></h2>
        <p>We are a group of young and enthusiastic people who want to make the world a better place for homeless animals. </p><p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris euismod sodales sem, quis commodo nunc tempor vitae. Cras fermentum urna quam, ac efficitur arcu porttitor vel. Fusce posuere diam et erat porttitor malesuada. Ut vel mattis libero. Aenean sed pellentesque eros, in commodo dui. Sed venenatis neque sed orci facilisis, semper vehicula enim dapibus. Nunc risus elit, pulvinar sed molestie sed, convallis et eros. Duis a ligula sit amet odio mattis dictum in sit amet lorem. Mauris at vehicula massa, et volutpat dolor. Nulla placerat sollicitudin pharetra. Nullam faucibus neque nec sollicitudin rutrum. Maecenas cursus nisi id urna blandit, a varius erat interdum. Morbi ut luctus dolor. Nam fringilla a libero quis pharetra. Nulla ultricies cursus odio. Sed finibus tortor leo, eget ultrices ipsum varius varius. </p>

        <p>Quisque ac aliquam magna. Cras viverra sem eget quam malesuada, at efficitur quam accumsan. Quisque at velit sem. Quisque pretium sollicitudin facilisis. Quisque porttitor elementum nulla, finibus posuere mi mollis ut. Nulla vel dapibus velit. Nullam elementum at nunc et sagittis. Morbi massa sapien, malesuada et nunc ac, feugiat vehicula lectus. Integer tincidunt ex quis mi porttitor ornare.
        </p>
    </div>


    <div class="jumbotron">
        <h2><b>Meet our team</b></h2>
        <br />

        <div class="row">
            <div class="col-sm-4" >

                <img src="adi.jpg" class="img-circle center-block" style="width:60%" alt="Image" /><br />
                <div class="caption text-center" style="background-color:#ff8031">
                    <br /><h4><b>Adi Mahmutovic</b></h4>
                    <p>Cras viverra sem eget quam malesuada, at efficitur quam accumsan. Quisque at velit sem. Quisque pretium sollicitudin facilisis.</p>
                    <h4><span class="glyphicon glyphicon-envelope"></span>   adi.mahmutovic.ets@gmail.com</h4><br />
                </div>
            </div>
            <div class="col-sm-4 caption" >

                <img src="eva.jpg" class="img-circle center-block" style="width:60%" alt="Image" /><br />
                <div class="caption text-center" style="background-color:#ff8031">
                    <br /><h4><b>Eva Shaltanovska</b></h4>
                    <p>Cras viverra sem eget quam malesuada, at efficitur quam accumsan. Quisque at velit sem. Quisque pretium sollicitudin facilisis.</p>
                    <h4><span class="glyphicon glyphicon-envelope"></span>   eva.shaltanovska@gmail.com</h4> <br />
                </div>
            </div>
            <div class="col-sm-4" >

                <img src="martin.jpg" class="img-circle center-block" style="width:60%" alt="Image" /><br />
                <div class="caption text-center" style="background-color:#ff8031"><br />
                    <h4><b>Martin Matak</b></h4>
                    <p>Cras viverra sem eget quam malesuada, at efficitur quam accumsan. Quisque at velit sem. Quisque pretium sollicitudin facilisis.</p>
                    <h4><span class="glyphicon glyphicon-envelope"></span>   martin.matak@gmail.com</h4> <br />
                </div>
            </div>
        </div>
        <br /><br />
        <div class="row" >
            <div class="col-sm-4">
                <img src="elena.jpg" class="img-circle center-block" style="width:60%" alt="Image" /> <br />
                <div class="caption text-center" style="background-color:#ff8031">
                    <br /><h4><b>Elena Ivanovska</b></h4>
                    <p>Cras viverra sem eget quam malesuada, at efficitur quam accumsan. Quisque at velit sem. Quisque pretium sollicitudin facilisis.</p>
                    <h4><span class="glyphicon glyphicon-envelope"></span>   elena_ivanovska.5@hotmail.com</h4><br />
                </div>
            </div>
            <div class="col-sm-4">
                <img src="ace.jpg" class="img-circle center-block" style="width:60%" alt="Image" /> <br />
                <div class="caption text-center" style="background-color:#ff8031">
                    <br /><h4><b>Aleksandar Malchev</b></h4>
                    <p>Cras viverra sem eget quam malesuada, at efficitur quam accumsan. Quisque at velit sem. Quisque pretium sollicitudin facilisis.</p>
                    <h4><span class="glyphicon glyphicon-envelope"></span>   malcevaleksandar@yahoo.com</h4> <br />
                </div>
            </div>

        </div>

    </div>

</div>