<!DOCTYPE html>
<div class="container " id="kon">
    <div class="panel-title">
        Внеси податоци:
    </div><br/>
    <form th:action="@{/pet}"
          enctype="multipart/form-data"
          method="POST"
          xmlns:th="http://www.thymeleaf.org"  >



        Внеси име: <input type="text" name="name" class="form-control" > </input>
        <br/>
        Description: <textarea type="text" name="description" class="form-control"> </textarea><br/>

        Внеси пол: <input type="text" name="gender" class="form-control"> </input>
        <br/>
        Внеси возраст: <input type="text" name="age" class="form-control"> </input>
        <br/>
        Внеси категорија: <input type="text" name="category" class="form-control"> </input>
        <br/>
        Внеси mail: <input type="text" name="email" class="form-control"> </input>
        <br/>




        <br/><br/>
        Избери слика(png): <input type="file" name="picture"  /><br/>

        <input type="submit" class="btn btn-primary"/>

    </form>
</div>